<h1>
	<%=t('system.menus.projects')%>
</h1>
<hr/>
<% @projects.each do |project| %>

	<ul class="thumbnails">
		<li class="span3" >
			<div class="thumbnail" style='min-height:250px;'>
	            <div class="caption">
	              <div align='center'><h3><%= format_string_with_reluctance project.title, 17 %></h3></div>
	    		      <div class='description'> <%= format_string_with_reluctance (project.description), 24%></div>
	            </div>
	        </div>
		</li>
	</ul>

<% end %>
