<div class="empty-project">
	<h2><%=I18n.t("projects.labels.welcome")%></h2>
	<br/>
	Esta é a tela do seu projeto,
	<br/>
	É aqui onde a mágica acontece...para começar, você deve criar uma <b>nova lista de tarefa</b>
	<br/>
	 e caso precise de mais informações, mande um e-mail pra nós,  <a href="">talkworking@gmail.com</a>
	 <br/>
</div>