<h1>Listing historicals</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Historical</th>
    <th>Historical type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>
